<html>
	<body>
		<div class="projects_side_bar">
		</div>
		<h2 class="section_title">About</h2>
		<h4 class="section_subtitle">I began carving as a hobby to clear my mind.</h4>

		<h4 class="section_subtitle">I continue to make designs from various sources of inspiration. </h4>

		<h4 class="section_subtitle">My carvings are mostly given as gifts or for my own enjoyment. </h4>

	</body>
</html>